<div id="player"></div>
{% if page.previous %}
<div id="next_video_link" class="alert alert-danger hide">
  <strong>Wasn't that awesome?</strong> How about another video? &gt; <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
</div>
{% endif %}
<div class="row">
  <div class="col-sm-12 text-center">
    <p>
      <a href="http://www.amazon.com/gp/product/{{page.amazon_id}}/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN={{page.amazon_id}}&linkCode=as2&tag=shnomo-20">Get it at Amazon</a>
      :
      <a href="https://play.spotify.com/user/gerlandop/playlist/{{ page.spotify_id }}">Listen to it on Spotify</a>
    </p>
  </div>
</div>
<img src="http://ir-na.amazon-adsystem.com/e/ir?t=shnomo-20&l=as2&o=1&a={{page.amazon_id}}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<script type="text/javascript">
  var video_id = '{{ page.video_id }}';
</script>
