---
layout: default
---
{% if page.external-url %}
<a href="{{ page.external-url }}"><h2 class="title">{{ page.title }}</h2></a>
{% else %}
<h2 class="title">{{ page.title }}</h2>
{% endif %}
<p class="meta">Added {{ page.date | date_to_string }} by Gerlando Piro (<a href="http://www.twitter.com/gpxl">@gpxl</a>)</p>
<div class="post">
  {{ content }}
  <hr>
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    #mc_embed_signup form {
      padding-left: 0;
    }
    #mc-embedded-subscribe {
      margin-left: 0;
    }
    #mc_embed_signup div#mce-responses {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    #mc_embed_signup div.response {
      width: 100%;
    }
  </style>
  <div id="mc_embed_signup">
    <form action="http://gerlandopiro.us1.list-manage1.com/subscribe/post?u=7d0c17c021dcca63f41dc9699&amp;id=27e741eeec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="panel panel-info">
        <div class="panel-heading">
          <strong>Join the club to get early access to guides and market reports.</strong>
        </div>
        <div class="panel-body">
          <div class="indicates-required"><span class="asterisk">*</span> required</div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
            </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_7d0c17c021dcca63f41dc9699_27e741eeec" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
        </div>
      </form>
    </div>
  </div>
  <!--End mc_embed_signup-->
</div>
